<h1>タスク新規登録</h1>

<%= form_with model: @task do |f| %>
<div>
  <%= f.label "タスク名" %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label "タスクの説明" %>
  <%= f.text_field :description %>
</div>
<div>
  <%= f.label "タスクの画像" %>
  <%= f.file_field :taskImage %>
</div>

<%= f.submit "登録" %>

<% end %>

<%= link_to  "一覧に戻る", tasks_path %>